<%- include('head') %>

    <body>

         <!-- ==============================NAVBAR============================ -->

    <%- include('navbar') %>

    <!-- ==============================READMORE-BOX============================ -->

        <div class="container mt-4">
            <div class="row">
                
                <% ReadMorebtns.forEach((btn)=>{ %>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="course_title">
                                <h4><%- btn.name %></h4>
                            </div>
                            <div class="course_desc">
                                <p><%- btn.desc %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>


      <%- include('script') %>

    </body>

    </html>